#form-window {
    width: 100%;
    text-align: center;
}

input,
label,
select,
textarea {
    margin-bottom: 20px;
}

fieldset {
    border-width: thin;
    border-style: solid;
    border-color: grey;
}

#comments {
    height: 10em;
    width: 80%;
}

#submit {
    margin: 10px;
}

footer {
    position: absolute;
    bottom: 0;
}