@keyframes opaque {
    to {
        background-color: gray;
    }
}

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.texture {
    background-color: #8f8c8c;
    background-image: url("../image/texture/concrete-wall-3.png");
}

.hidden-menu {
    display: none;
    list-style: none;
    position: absolute;
    padding: 0;
    background-color: #8f8c8c;
}

.hidden-menu>li {
    padding: 2px 7px;
}

.hidden-menu>li:hover {
    color: white;
    background-color: darkblue;
}

/* Navbar */
#menu-bar {
    font-size: 1.75em;
    padding: 0 10px;
    margin: 0;
    list-style: none;
    color: black;
    background-color: #8f8c8c;
    border-bottom: 2px solid black;
}

#menu-bar>li {
    display: inline;
}

.app-menus {
    padding-right: 10px;
}

.status-menus {
    float: right;
    padding-left: 10px;
}

#logo-menu:hover>.hidden-menu {
    display: block;
}

/* Sidebar */
#sidebar {
    font-size: 1.5em;
    float: right;
    height: 100vh;
    background-color: #8f8c8c;
    border-left: 2px solid;
}

#sidebar>ul {
    list-style: none;
    padding: 0;
    border: 3px;
}

#sidebar>ul>li:not(.separator) {
    padding: 0.75em 1.5em;
    margin: 0 1em;
}

#sidebar>ul>li:hover:not(.separator) {
    border-radius: 6px;
}

.opaque>a {
    color: black;
    text-decoration: none;
}

.opaque:hover {
    animation: opaque 500ms forwards;
}

.separator {
    width: 85%;
    margin: auto;
}