@font-face {
    font-family: Apple_SF_Pro;
    src: url(../fonts/private/SFProDisplay-Regular.ttf);
    /* link:  https://fontsfree.net/sf-pro-display-regular-font-download.html */
}

main {
    font-family: Apple_SF_Pro, Helvetica, sans-serif;
}